// base важен порядок подключения

@import "./base/reset"; // сброс стилей
@import "./base/snippets"; // сниппеты
@import "./base/vars"; // определили переменные
@import "./base/base"; //основные стили для страницы

// Blocks - подключаем все разделы по одному
@import "./blocks/header"; //подключаем хэдер
@import "./blocks/nav"; // подключаем навигацию
@import "./blocks/info"; // подключаем блок инфо
