.apartments {
    position: relative;

    &::before {
        content: "III";

        right: calc(
            50% + 555px
        ); //будем рассчитывать отталкивание от левой стороны, 50прц отступил половина экрана + и отступил 555пкс -это 1110 ширина контейнер
        transform: translate(+50%, 0%); //пододвигаем вправо на половину ее ширины
        line-height: 0.7;
        @include decorNumber;
    } //начинаем позиционировать водяной знак относительно родительского блока, смотрим через сетку в макете
}

.apartments__title {
    margin-bottom: 88px;
    @include mediaTablet {
        margin: 50px 0;
    }
    @include mediaMobile {
        margin: 50px 0;
        text-align: center;
    }
}

.apartments__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: repeat(auto-fit, minmax(290px,1fr)); // вместо того, чтобы задать repeat (2, 1fr) мы задаем с прицелом на адаптив: аутофит - автоматически заполнить ряд по длине, минмакс - минимальный размер экрана для адаптива 320пкс-30пкс паддини = 290пкс, 1фрейм если максимальный, то делим пополам
    gap: 30px;

    @include mediaTablet {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}
