.header {
    padding-top: 30px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 840px;
    background: linear-gradient(
            180deg,
            rgb(36, 43, 51) 11.979%,
            rgba(45, 52, 60, 0.38) 51.042%,
            rgb(36, 43, 51) 92.188%
        ),
        url("/img/header/header-bg.jpeg");
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    padding-bottom: 121px; //потому что 81пкс+высота мышки 40пкс
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700px;
}
.header__title-icon {
    position: absolute;
    left: 50%; // отсчитали 50прц ширины блока .header__title
    bottom: 0%; // прижали к низу блока
    transform: translate(-50%, 0%); // двигаем вдоль оси Х так чтобы спозиционировать под текстом ровно и на 0 по У
}
.header__footer {
    display: grid; // мы смотрим на кол-во колонок в макете в инспекторе
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.text-right {
    text-align: right;
}
