.header {
    padding-top: 30px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 840px;
    background: linear-gradient(
            180deg,
            rgb(36, 43, 51) 11.979%,
            rgba(45, 52, 60, 0.38) 51.042%,
            rgb(36, 43, 51) 92.188%
        ),
        url("/img/header/header-bg.jpeg");

    @include mediaTablet {
        min-height: unset;
        row-gap: 50px;
    }
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__link {
    @include mediaTablet {
        width: clamp(50px, 50%, 178px);
    }
}
.header__nav {
    // @media screen and (max-width: $laptop) {
    //     display: none;
    // } // скрываем кнопку навигации

    @include mediaTablet {
        display: none;
    }
}
.header__nav-btn {
    display: none;

    // @media screen and (max-width: $laptop) {
    //     display: block;
    // } // показываем кнопку навигации
    @include mediaTablet {
        display: block;
    }
}

.header__title {
    padding-bottom: 121px; //потому что 81пкс+высота мышки 40пкс
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700px;

    @include mediaTablet {
        font-size: clamp(
            1.125rem,
            -0.7605rem + 6.2718vw,
            2.25rem
        ); // взял с сайта https://clamp.font-size.app/   по умолчанию у нас у html размер шрифта 16px  и с него берется rem
        padding-bottom: 80px;
    }
}
.header__title-icon {
    position: absolute;
    left: 50%; // отсчитали 50прц ширины блока .header__title
    bottom: 0%; // прижали к низу блока
    transform: translate(-50%, 0%); // двигаем вдоль оси Х так чтобы спозиционировать под текстом ровно и на 0 по У
    @include mediaTablet {
        width: clamp(
            24px,
            5%,
            40px
        ); // 15px минимум размер иконки (15/7*100=214пкс это минимальный размер экрана, 35*7/100=500пкс. Все что будет между ними будет 7% от ширины экрана
    }
}
.header__footer {
    display: grid; // мы смотрим на кол-во колонок в макете в инспекторе
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @include mediaTablet {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        row-gap: 30px;
    }
}
.text-right {
    text-align: right;
}
.info {
    @include mediaTablet {
        font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    }
}
