.info {
    font-size: clamp(0.625rem, 0.4835rem + 0.7073vw, 1.125rem);
    position: relative;

    &--map,
    &--tel {
        padding-left: 35px; // 21+14 пкс иконка+паддинг
        &::before {
            content: "";

            position: absolute;
            left: 0px;
            top: 50%;
            width: 21px;
            height: 21px;
            background-repeat: no-repeat;
            background-position: center;
            transform: translate(0%, -50%); // по у-ку перемещаем вверх на 50прц от своей высоты
        }

        @include mediaTablet {
            padding-left: 26px;
        }
    }

    &--map::before {
        background-image: url("/img/header/map.svg");
    }

    &--tel::before {
        background-image: url("/img/header/phone.svg");
    }
}
