.section-map {
    padding: 180px 0;
    position: relative;
    &::before {
        content: "V";

        @include decorNumber;
        top: 180px; //так как секшнмап имеет паддинг, то мы будем на глаз двигать
        z-index: -1; // сверху фона, но под картой

        right: calc(
            50% + 555px
        ); //будем рассчитывать отталкивание от левой стороны, 50прц отступил половина экрана + и отступил 555пкс -это 1110 ширина контейнер
        transform: translate(+50%, 0%); //пододвигаем вправо на половину ее ширины
        line-height: 0.7;
    } //начинаем позиционировать водяной знак относительно родительского блока, смотрим через сетку в макете
}

.section-map__title {
    margin-bottom: 88px;
}

.section-map__map {
}
.map {
    height: 358px;
    background: rgb(98, 98, 98);
}
