.video {
    text-align: center;
    position: relative;
    overflow: hidden; // скрываем водяной знак чтобы без скрола
    &::after {
        content: "IV";

        left: calc(
            50% + 555px
        ); //будем рассчитывать отталкивание от левой стороны, 50прц отступил половина экрана + и отступил 555пкс -это 1110 ширина контейнер
        transform: translate(-50%, 0%); //пододвигаем влево на половину ее ширины
        line-height: 1.15;
        @include decorNumber;
    } //начинаем позиционировать водяной знак относительно родительского блока, смотрим через сетку в макете
}

.video__link {
    position: relative;
    display: inline-block;
    text-align: center; //выровняет по центру картинку
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(36, 43, 51, 0.8);
        transition: background-color 0.2s ease-in;
    }
    &:hover::before {
        background: rgba(36, 43, 51, 0.7);
    }
}
.video__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    @include mediaTablet {
        width: 80px;
        height: 80px;
    }
}
.video__link:hover .video__icon {
    transform: translate(-50%, -50%) scale(1.2); // чтобы иконка не перемещалась вниз нужно еще прописать транслейт, чтобы транслейт не отменялся
    filter: saturate(1.5);
}
