@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,700;1,700&display=swap");

html {
    scroll-behavior: smooth;
}
body {
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px; //стандарт шрифта в браузере
} /*смотрим что он на странице базовый и его указываем в боди */

a {
    color: $white;
    transition: color 0.2s ease-in; //применили к свойству color
    &:hover {
        color: $accent;
    } //&символ наследования принадлежности
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px; //ширина контейнера 1110пкс но из-за того паддингов по бокам мы добавляем по 15пкс с каждой стороны, делаем с макс, чтобы сжимался
    &--sm {
        max-width: 840px; //добавляем модификатор потому что контейнер с преимуществами чуть больше, чем обычный контейнер
    }
}
.visually-hidden {
    //максимально скрывает элемент
    width: 1px;
    height: 1px;
    overflow: hidden;

    position: absolute; //закидываем его в левый угол и выносим из потока

    clip: rect(1px 1px 1px 1px); // убираем его невидимым
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);

    white-space: nowrap; // фикс для скринридеров
}
.none {
    display: none !important; // класс добавляем для элемента, чтобы скрыть секцию
}

.title-2 {
    font-size: 36px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
    @include mediaTablet {
        font-size: clamp(1.5rem, 0.9643rem + 2.6786vw, 2.25rem);
    }
}

.link-bold {
    color: $accent;
    font-weight: 700;
}
.no-scroll {
    overflow-y: hidden;
} // для js добавляем класс чтобы в менюшке адаптации не было скрола
