/* Подсказка для заведения шрифтов в переменные

font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Playfair Display", serif;

*/

// Fonts определяем несколько переменных для шрифтов

$font-main: "Raleway", sans-serif; // основной шрифт
$font-accent: "Playfair Display", serif; //для заголовков
$font-secondary: "Roboto", sans-serif; //второстепенный шрифт

// Colors - определяем какие цвета присутствуют на макете - мы переходим вверху слева в Фигме на название фрейма, во вкладке Дизайн смотрим на название и в Инспект копируем хекскод

$dark: #242b33; //цвет темы
$accent: #d4c17f; //акцентный цвет, каким выполнены все заголовки
$white: #fff; // создаем для последовательности цветов
$footer-bg: #2d343c; // смотрим цвет у футера
